@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(to right, #ffff99 0%, #336699 100%);
    margin: 0;
}
.table{
    width:80vw;
}
// scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    
    }
    .table-wrapper-scroll-y {
    display: block;
    }
.table th,.table td{
    text-align: center;
    padding:5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.view-customer,
.view-guest,
.view-bookings,
.view-room{
    color:black;
    text-decoration: none;
    padding:5px;   
}
.view-customer:hover,
.view-guest:hover,
.view-bookings:hover,
.view-room:hover{
    text-decoration: none;
    color:white;
}
.steps-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-text{
    font-size:25px;
}
// inputs
.customer-input .customer-title{
    width:940px;
}
.customer-input .customer-email{
    width:635px;
}
.guest-input .guest-title{
    width:640px;
}
.guest-input .guest-dob{
    width:640px;
}
.customers-info input{
    border:1px solid black;
    padding:5px;
    border-radius:3px;
    outline:none;
}
/* adding customer */

.customer-input input{
    border:1px solid black;
    padding:5px;
    border-radius:3px;
    outline:none; 
}

.submit{
    width:100px;
    align-self: center;
    border:1px solid rgb(219, 214, 214);
    color:white;
    font-weight:900;
    border-radius:5px;
    padding:5px;
    transition:0.4s;
}
.submit:hover{
    background:rgb(65, 130, 204);
    color:white;
}
.counter{
    font-size:25px;
}
.remover,
.show,
.view{
    width:100px;
}
.searched-customer,
.searched-guest,
.searched-booking,
.searched-room{
    display:flex;
    justify-content: space-between;
    margin:10px;
}
.search-box{
    width:300px;
    padding:5px;
    border:1px solid rgb(172, 161, 161);
    border-radius:5px;
    outline:none;
}
.buttons a{
    text-decoration: none;
    color:black;
}
// customer adding container
.insert-customer-container-main,
.insert-room-container-main,
.booking-room-container-main{
    display:flex;
    flex-direction: column;
    margin:0 auto;
}

h1{
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-size:45px;
    font-weight:bolder;
}
p{
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-weight:bolder;
}
.insert-customer-container,
.insert-room-container,
.booking-room-container{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    margin-bottom:40px;
}

.room-input-container input,.room-input-container label,
.customer-input-container input,.customer-input-container label{
    width:300px;
    margin:5px;
}
.customer-input input,
.room-input input{
    border-radius:5px;
    border:1px solid rgb(158, 150, 150);
    outline:none;
    padding:5px;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six{
    display:flex;
}
// customer table
.customers-main-container{
    margin:0 auto;
    margin-top:-50px;
}
.guests-main-container{
    margin:0 auto;
    margin-top:-10px;
}
// guests form
.insert-guest-container-main,
.insert-booking-container-main{
    display:flex;
    flex-direction: column;
    margin:0 auto;
}
.insert-guest-container,
.insert-booking-container{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    margin-bottom:50px;
}
.guest-input-container input{
    width:200px;
    border-radius:5px;
    border:1px solid rgb(158, 150, 150);
    outline:none;
    padding:5px;
}
.guest-input{
    margin:10px;
}

// bookings
.booking-input input,
.booking-input select{
    border:none;
    border:1px solid rgb(194, 186, 186);
    outline:none;
    border-radius:5px;
    padding:5px;
    margin:5px;
    width:200px;
}
.sidebar {
    margin: 0;
    padding: 0;
    top:0;
    width: 210px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  .sidebar a {
    display: block;
    color: black;
    font-weight:bolder;
    padding: 16px;
    border-bottom:1px solid rgb(228, 220, 220);
    text-decoration: none;
  }
  .sidebar i{
      margin:5px;
  }
  
  .active{
    transition: transform 250ms;
  }
  .active:hover{
    transform: translateY(-10px);
  }

  .sidebar a.active {
    text-transform:uppercase;
    color:white;
    font-weight:bolder;
    background: linear-gradient(to bottom, #ccffff 0%, #336699 100%);
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .card{
      display:flex;
  }
  div.content-container {
    margin-left: 210px;
    padding: 1px 16px;
    height: 100vh;
    
  }
//   buttons and delete
.delete-form{
    position:absolute;
}
.delete-btn{
    position:absolute;
    margin-top:490px;
    margin-left:290px;
}
.update-container{
    position:absolute;
    margin-top:389px;
    margin-left:500px;
}
.delete-guest{
    margin-top:531px;
    margin-left:400px;
}
.delete-booking{
    margin-top:2px;
    
}
.facility-add{
    margin:5px;
}
// for guest buttons and delete
.updateguest-container{
    position:absolute;
    margin-top:430px;
    margin-left:350px;
}  
.deleteguest-form{
    position:absolute;
}
.deleteguest-btn{
    position:absolute;
    margin-top:520px;
    margin-left:290px;
}
// for bookings buttons
.confirm-booking{
    position:absolute;
    margin-top:460px;
    margin-left:50px;
}
.deletebooking-form{
    position:absolute;
    margin-top:519px;
    margin-left:290px;
}
// booking room container
.bookingroom-input{
    margin:10px;
}
.bookingroom-input input{
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(211, 195, 195);
    outline:none;
}
// delete and update for room
.updateroom-container-one{
    position:absolute;
    margin-top:251px;
}
.updateroom-container-one .update{
    width:150px;
}

.updateroom-container{
    position:absolute;
    margin-top:250px;
    margin-left:80px;
}
.updateroom-container .update{
    width:150px;
}
.deleteroom-form{
    position:absolute;
    margin-top:-177px;
    margin-left:232px;
}
.deleteroom-btn{
    width:150px;
}
// registration
.registration-form-container-main{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    
}
.registration-form-container{
    display:flex;
    flex-direction: column;
    margin:0 auto;
}
.registration-form-input {
    margin:10px;
}
// insert facility form container
.insert-facility-container-main{
    display:flex;
    margin:0 auto;
}
.insert-facility-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
.facility-input input,
.facility-input select
{
    padding:5px;
    width:500px;
    outline:none;
    border:1px solid rgb(202, 187, 187);
    border-radius:5px;
}
.facility-input label{
    padding:3px;
    margin:2px;
}
.add-facility{
    margin:5px;
}
// borders in home page
.border{
    border:10px;
}
// delete button in show of facilities
.deletefacility-container{
    position:absolute;
    margin-left:525px;
    margin-top:339px;
}
// buttons color
.go-record{
    width:200px;
}
.delete{
    background:rgb(241, 47, 47);
}
.update{
    background:green;
}
//count container
.count-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.count-body {
    background:rgb(243, 237, 237);
    display:flex;
    justify-content:space-evenly;
    padding:25px;
    margin:10px;
    width:400px;
    height:200px;
    border-radius:10px;
    box-shadow: 5px 10px rgb(124, 121, 121);
    cursor:pointer;
    transition: transform 250ms;
}
.count-body:hover{
    transform: translateY(-10px);
}
.count-image{
    width:180px;
}
.count-container a{
    text-decoration:none;
    color:rgb(77, 73, 73);
}
.count-container p {
    color:rgb(77, 73, 73);
}
.count-container h5{
    font-weight: 900;
    font-size: 23px;
}
// navigation
.navbar{
    background: linear-gradient(to bottom, #ccffff 0%, #336699 100%);
    padding:10px;
    display:flex;
    justify-content: flex-end;
}
.nav-button{
    display:none;
}
.login-logout{
    display:flex;   
    
}
.menu{
    display:none;
}
.login-container,
.logout-container{
    padding:5px;
}
.login-container a,
.logout-container a{
    text-decoration:none;
    color:white;
}
.user {
    color:white;
    cursor: pointer;
}
.logout{
    position:absolute;
    display:none;
    margin-top:70px;
    margin-left:20px;
}
// payment method container
.payment-main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.payment-subcontainer{
    display:flex;
    align-content: center;
    flex-direction: column;
    align-self: center;
    margin:0 auto;
}
.payment-input {
    margin:8px;
}
.payment-input input {
    padding:6px;
    width:300px;
    border-radius:3px;
    border:1px solid rgb(219, 216, 216);
    outline:none;
}
//booking room
.endbooking{
    margin-left:99px;
}
// available rooms
.available-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.available-box{
    padding:50px;
    width:300px;
    background:whitesmoke;
    border-radius:10px;
    box-shadow: 5px 10px rgb(124, 121, 121);
    transition: transform 250ms;
}
.available-box h1{
    font-size:30px;
}
.available-box:hover{
    transform: translateY(-10px);
}


  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display:none;
    }
    .sidebar a {
        float: left;
    }
    div.content-container {
        margin-left: auto;
    }
    .menu{
        display:block;
        border:1px solid rgb(216, 210, 210);
        border-radius:10px;
        padding:10px;
    }
    .nav-button {
        background:whitesmoke;
        border-radius:10px;
        width:95%;
        position:absolute;
        margin-top:200px;
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
    .nav-button li {
    list-style: none;
    text-align: center;
    padding:10px;
    }
    .nav-button li a{
    padding:10px;
    width:900px;
    color:black;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
    }
    .navbar {
        display:flex;
        justify-content:space-between;
    }
    .count-body{
        width:360px;
    }
    .deleteroom-form{
        margin-left:-100px;
        margin-top:-134px;
    }
    .searched-customer{
        display:flex;
    }
    .searched-customer input,
    .searched-guest input,
    .searched-room input{
        width:200px;
    }
    .buttons{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .buttons a{
        font-size:12px;
    }
    // searchbox
    .searchbox{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    // insert customer
    .insert-customer-container{
        display:flex;
        justify-content: center;
        width:350px;
        margin-left:20px;
    }
    .customer-input input {
        width:300px;
    }
    .row-one,.row-two,.row-three,.row-four,.row-five,.row-six{
        display:flex;
        flex-direction:column;
    }
    .customer-input .customer-title{
        width:300px;
    }
    .customer-input .customer-email{
        width:300px;
    }
    .customer-insert{
        margin-left:-40px;
    }
    // show customer
    .update-container{
        position:absolute;
        margin-top:1010px;
        margin-left:180px;
    }
    .delete-form{
        position: absolute;
        margin-top:617px;
        margin-left:-220px;
    }
    // guest insert
    .guest-input input{
        width:310px;
    }
    .guest-input .guest-title{
        width:310px;
    }
    .guest-input .guest-dob{
        width:310px;
    }
    // show guest
    .updateguest-container{
        position:absolute;
        margin-top:790px;
        margin-left:200px;
    }
    .deleteguest-form{
        position:absolute;
        margin-top:413px;
        margin-left:-350px;
    }
    // show room
    .updateroom-container-one{
        position:absolute;
        margin-top:240px;
    }
    // facilities
    .facility-input input,
    .facility-input select{
        width:300px;        
    }
    .available-box{
        width:300px;
        margin:10px;
    }
  }
    
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
//   @media screen and (max-width: 395px){
      
//       div.content-container{
//           margin-left:auto;
//       }
//       .navbar{
//           display:flex;
//           justify-content: space-between;
//       }
//       .nav-button{
//         background: rgb(215,226,240);
//         background: radial-gradient(circle, rgba(215,226,240,1) 9%, rgba(91,102,98,1) 33%, rgba(219,217,217,1) 65%, rgba(158,167,191,1) 85%);
//         border-radius:10px;
//         margin-top:200px;
//         margin-left:25px;
//         width:400px;
//         position:absolute;
//         display:none;
//       }
//       .nav-button li {
//           list-style: none;
//           text-align: center;
//           padding:10px;
//       }
//       .nav-button li a{
//           padding:10px;
//           width:900px;
//           color:black;
//           font-weight: bold;
//           text-decoration:none;
//           cursor: pointer;
//       }
//       .menu{
//           display:block;
//           border:1px solid rgb(209, 197, 197);
//           border-radius:5px;
//           padding:10px;
//           cursor: pointer;
//       }
//       .user {
//         color:black;
//     }
//     .logout{
//         margin-right:100px;
//     }
//     .count-body{
//         padding:20px;
//     }
//   }