@import url(https://fonts.googleapis.com/css2?family=Sanchez&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sanchez", serif;
  background: url(/images/background.png?ca502cb653d80368ea2abf55ee950890);
  margin: 0;
}

.table {
  width: 80vw;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.table th,
.table td {
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-customer,
.view-guest,
.view-bookings,
.view-room {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.view-customer:hover,
.view-guest:hover,
.view-bookings:hover,
.view-room:hover {
  text-decoration: none;
  color: white;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-text {
  font-size: 25px;
}

.customer-input .customer-title {
  width: 940px;
}

.customer-input .customer-email {
  width: 635px;
}

.guest-input .guest-title {
  width: 640px;
}

.guest-input .guest-dob {
  width: 640px;
}

.customers-info input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  outline: none;
}

/* adding customer */

.customer-input input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  outline: none;
}

.submit {
  width: 100px;
  align-self: center;
  border: 1px solid #dbd6d6;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  transition: 0.4s;
}

.submit:hover {
  background: #4182cc;
  color: white;
}

.counter {
  font-size: 25px;
}

.remover,
.show,
.view {
  width: 100px;
}

.searched-customer,
.searched-guest,
.searched-booking,
.searched-room {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.search-box {
  width: 300px;
  padding: 5px;
  border: 1px solid #aca1a1;
  border-radius: 5px;
  outline: none;
}

.buttons a {
  text-decoration: none;
  color: black;
}

.insert-customer-container-main,
.insert-room-container-main,
.booking-room-container-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bolder;
}

p {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
}

.insert-customer-container,
.insert-room-container,
.booking-room-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;
}

.room-input-container input,
.room-input-container label,
.customer-input-container input,
.customer-input-container label {
  width: 300px;
  margin: 5px;
}

.customer-input input,
.room-input input {
  border-radius: 5px;
  border: 1px solid #9e9696;
  outline: none;
  padding: 5px;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six {
  display: flex;
}

.customers-main-container {
  margin: 0 auto;
  margin-top: -50px;
}

.guests-main-container {
  margin: 0 auto;
  margin-top: -10px;
}

.insert-guest-container-main,
.insert-booking-container-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.insert-guest-container,
.insert-booking-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
}

.guest-input-container input {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #9e9696;
  outline: none;
  padding: 5px;
}

.guest-input {
  margin: 10px;
}

.booking-input input,
.booking-input select {
  border: none;
  border: 1px solid #c2baba;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 200px;
}

.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  width: 210px;
  background-color: whitesmoke;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  font-weight: bolder;
  padding: 16px;
  border-bottom: 1px solid #e4dcdc;
  text-decoration: none;
}

.sidebar i {
  margin: 5px;
}

.active {
  transition: transform 250ms;
}

.active:hover {
  transform: translateY(-10px);
}

.sidebar a.active {
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  background: linear-gradient(to bottom, #ccffff 0%, #336699 100%);
  border-radius: 30px;
}

.sidebar a:hover:not(.active) {
  background: linear-gradient(to bottom, #3399ff 0%, #3399ff 100%);
  color: white;
  transition: 0.4s;
}

.card {
  display: flex;
}

div.content-container {
  margin-left: 210px;
  padding: 1px 16px;
  height: 100vh;
}

.delete-form {
  position: absolute;
}

.delete-btn {
  position: absolute;
  margin-top: 525px;
  margin-left: 290px;
}

.update-container {
  position: absolute;
  margin-top: 389px;
  margin-left: 500px;
}

.delete-guest {
  margin-top: 531px;
  margin-left: 400px;
}

.delete-booking {
  margin-top: 37px;
}

.facility-add {
  margin: 5px;
}

.updateguest-container {
  position: absolute;
  margin-top: 430px;
  margin-left: 350px;
}

.deleteguest-form {
  position: absolute;
}

.delete-guest {
  position: absolute;
  margin-top: 564px;
  margin-left: 350px;
}

.confirm-booking {
  position: absolute;
  margin-top: 460px;
  margin-left: 50px;
}

.deletebooking-form {
  position: absolute;
  margin-top: 519px;
  margin-left: 290px;
}

.bookingroom-input {
  margin: 10px;
}

.bookingroom-input input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d3c3c3;
  outline: none;
}

.updateroom-container-one {
  position: absolute;
  margin-top: 251px;
}

.updateroom-container-one .update {
  width: 150px;
}

.updateroom-container {
  position: absolute;
  margin-top: 250px;
  margin-left: 80px;
}

.updateroom-container .update {
  width: 150px;
}

.deleteroom-form {
  position: absolute;
  margin-top: -212px;
  margin-left: 232px;
}

.deleteroom-btn {
  width: 150px;
}

.registration-form-container-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.registration-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.registration-form-input {
  margin: 10px;
}

.insert-facility-container-main {
  display: flex;
  margin: 0 auto;
}

.insert-facility-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.facility-input input,
.facility-input select {
  padding: 5px;
  width: 500px;
  outline: none;
  border: 1px solid #cabbbb;
  border-radius: 5px;
}

.facility-input label {
  padding: 3px;
  margin: 2px;
}

.add-facility {
  margin: 5px;
}

.border {
  border: 10px;
}

.deletefacility-container {
  position: absolute;
  margin-left: 525px;
  margin-top: 339px;
}

.go-record {
  width: 200px;
}

.delete {
  background: #f12f2f;
}

.update {
  background: green;
}

.count-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.count-body {
  background: white;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  margin: 10px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.582);
  cursor: pointer;
  transition: transform 250ms;
}

.count-body:hover {
  transform: translateY(-10px);
}

.count-image {
  width: 180px;
}

.count-container a {
  text-decoration: none;
  color: #4d4949;
}

.count-container p {
  color: #4d4949;
}

.count-container h5 {
  font-weight: 900;
  font-size: 23px;
}

.navbar {
  border-top-left-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  display: none;
}

.login-logout {
  display: flex;
}

.menu {
  display: none;
}

.login-container,
.logout-container {
  padding: 5px;
}

.login-container a,
.logout-container a {
  text-decoration: none;
  color: white;
}

.user {
  color: white;
  cursor: pointer;
}

.logout {
  position: absolute;
  display: none;
  margin-top: 70px;
  margin-left: 20px;
}

.payment-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment-subcontainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.payment-input {
  margin: 8px;
}

.payment-input input {
  padding: 6px;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #dbd8d8;
  outline: none;
}

.endbooking {
  margin-left: 99px;
}

.available-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.available-box {
  padding: 50px;
  width: 300px;
  background: whitesmoke;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 10px #7c7979;
  transition: transform 250ms;
}

.available-box h1 {
  font-size: 30px;
}

.available-box:hover {
  transform: translateY(-10px);
}

.booking-input .customer-name {
  width: 410px;
}

.booking-input .payment {
  width: 410px;
}

.booking-input .paymentmethod {
  width: 410px;
}

.booking-input .paymentdue {
  width: 200px;
}

.about-subcontainer {
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
}

.about-box {
  border-radius: 5px;
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.about-img {
  display: flex;
  justify-content: center;
}

.about-img img {
  width: 200px;
  align-self: center;
}

.about-info {
  align-self: center;
}

.about-info p {
  align-self: center;
}

.contact-subcontainer {
  display: flex;
  justify-content: space-around;
}

.contact-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}

.contact-img,
.contact-name {
  align-self: center;
}

.contact-box img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-socmed {
  display: flex;
  justify-content: space-around;
}

.fb-box button {
  color: white;
  border: none;
  border-radius: 4px;
  width: 120px;
  background: #247ce2;
  transition: 0.4s;
}

.fb-box button:hover {
  color: black;
  background: lightcyan;
}

.ig-box button {
  color: white;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  border: none;
  border-radius: 4px;
  width: 120px;
  transition: 0.4s;
}

.ig-box button:hover {
  color: black;
  background: lightcyan;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-self: center;
  border: 1px solid #948989;
  border-radius: 5px;
}

.contact-input input {
  width: 300px;
  outline: none;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #b8abab;
}

.contact-input textarea {
  outline: none;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #b8abab;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
  }

  .sidebar a {
    float: left;
  }

  div.content-container {
    margin-left: auto;
  }

  .menu {
    display: block;
    border: 1px solid #d8d2d2;
    border-radius: 10px;
    padding: 10px;
  }

  .nav-button {
    background: whitesmoke;
    border-radius: 10px;
    width: 95%;
    position: absolute;
    margin-top: 200px;
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  .nav-button li {
    list-style: none;
    text-align: center;
    padding: 10px;
  }

  .nav-button li a {
    padding: 10px;
    width: 900px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar {
    border-top-left-radius: 0;
    display: flex;
    justify-content: space-between;
  }

  .count-body {
    width: 360px;
  }

  .deleteroom-form {
    margin-left: -100px;
    margin-top: -134px;
  }

  .searched-customer {
    display: flex;
  }

  .searched-customer input,
  .searched-guest input,
  .searched-room input,
  .searched-booking input {
    width: 200px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .buttons a {
    font-size: 12px;
  }

  .searchbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .insert-customer-container {
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 20px;
  }

  .customer-input input {
    width: 300px;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four,
  .row-five,
  .row-six {
    display: flex;
    flex-direction: column;
  }

  .customer-input .customer-title {
    width: 300px;
  }

  .customer-input .customer-email {
    width: 300px;
  }

  .customer-insert {
    margin-left: -40px;
  }

  .update-container {
    position: absolute;
    margin-top: 1010px;
    margin-left: 180px;
  }

  .delete-form {
    position: absolute;
    margin-top: 618px;
    margin-left: -220px;
  }

  .guest-input input {
    width: 310px;
  }

  .guest-input .guest-title {
    width: 310px;
  }

  .guest-input .guest-dob {
    width: 310px;
  }

  .updateguest-container {
    position: absolute;
    margin-top: 790px;
    margin-left: 200px;
  }

  .deleteguest-form {
    position: absolute;
    margin-top: 415px;
    margin-left: -290px;
  }

  .updateroom-container-one {
    position: absolute;
    margin-top: 240px;
  }

  .deleteroom-btn {
    margin-top: 490px;
  }

  .facility-input input,
  .facility-input select {
    width: 300px;
  }

  .available-box {
    width: 300px;
    margin: 10px;
  }

  .booking-input input,
  .booking-input select {
    width: 300px;
  }

  .insert-booking-container {
    margin-left: 30px;
  }

  .booknow {
    position: absolute;
    margin-top: 730px;
    margin-left: -20px;
  }

  .booking-input .payment {
    width: 300px;
  }

  .booking-input .paymentmethod {
    width: 300px;
  }

  .confirm-booking {
    position: absolute;
    margin-top: 830px;
  }

  .deletebooking-form {
    position: absolute;
    margin-top: 944px;
    margin-left: -80px;
  }

  .about-info h2 {
    font-size: 13px;
    font-weight: bolder;
  }

  .about-img img {
    width: 150px;
  }

  .contact-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .contact-box {
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


